<%= nav_bar fixed: :top, brand: "Ninety Ten" do %>
    <%= menu_group do %>
        <%= menu_item "Home", root_path %>
        <%= menu_item "About Us", root_path %>
        <%= menu_item "Contact", root_path %>
    <% end %>
    <% if current_user %>
        <%= menu_item "Log Out", root_path %>
    <% else %>
        <%= menu_group pull: :right do %>
            <%= menu_item "Sign Up", root_path %>
            <%= form_for User.new, url: root_path do |f| -%>
              <p><%= f.text_field :email %></p>
              <p><%= f.password_field :password %></p>
              <p><%= f.submit "Sign in" %></p>
            <% end -%>
        <% end %>
    <% end %>
<% end %>
